<!DOCTYPE html>
<html>

<head>
    <title>My Page</title>
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Generate Token</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Generate Token</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-instance">Create Instance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/describe-instance">Describe Instance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stop-instance">Stop Instance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terminate-instance">Terminate Instance</a>
                </li>
            </ul>
        </div>
    </nav>
    {{if .Info.Success }}
    <div class="alert alert-success" role="alert">
        {{.Info.Message}}
    </div>
    <!-- <h4>{{.Info.Message}}</h4> -->
    {{end}}
    {{if not .Info.Success }}
    {{if .Info.Message}}
    <div class="alert alert-danger" role="alert">
        {{.Info.Message}}
    </div>
    {{end}}
    {{end}}
    {{if not .Form}}
    <h2 class="mx-sm-3">Stop Instance</h2>

    <form class="form-inline" method="POST">
        <div class="form-group mx-sm-3 mb-2 col col-lg-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input class="form-control" id="inputPassword2" placeholder="Instance ID" name="instance_id">
        </div>
        <div class="form-group mx-sm-3 mb-2 col col-lg-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input class="form-control" id="inputPassword2" placeholder="Region" name="region">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Stop Instance</button>
    </form>
    {{end}}

</body>

</html>
